@font-face {
    font-family: Bookman;
    src: url('bookman.otf');
    font-display: swap;
}
* {
    box-sizing: border-box;
    font-family: Bookman;
    padding: 0px;
    margin: 0px;
}
html{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
body{
    display: grid;
    background: #333335;
    color: #FAF9F6;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
header h1 {
    padding: 10px;
    box-shadow: 1px 1px 3px #222221, 1px 1px 3px #222221;
    text-shadow: 1px 2px #222221;
    background: #333335;
    text-align: center;
}
main{
    padding: 1em;
}
main h2 {
    text-shadow: 1px 2px #222221;
    padding: 1em 1em 0em;
    color: #FAF9F6;
}
main form{
    display: grid;
    padding: 1em;
    gap: 8px;
}
main form input{
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 2px solid silver;
    background: white;
    border-radius: 15px;
    padding: 10px;
}
main form .submit{
    text-transform: uppercase;
    box-shadow: inset 3px 5px #0088CC, inset 3px 3px 5px #0088CC;
    background: #0088CC;
    cursor: pointer;
    border: 2px solid #FAF9F6;
    border-radius: 15px 30px;
    color: #FAF9F6;
}
footer h3 {
    text-align: center;
    padding-bottom: 14px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-shadow: 1px 2px #222221;
    box-shadow: 1px 1px 3px #222221, 1px 2px 15px #222221;
    background: #333335;
    text-align: center;
}
.ad-space-one{
    width: 320px;
    height: 50px;
    background: #000;
    position: fixed;
    border-radius: 5px;
    cursor: pointer;
    top: 12%;
}